.track {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.thumbnail {
  display: flex;
  align-items: center;
}

.thumbnail img {
  border-radius: var(--corner);
  width: 100%;
  height: auto;
}

.data {
  flex: 1;
}

.play {
  font-size: 2rem;
  color: var(--primary);
  cursor: pointer;
}