:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #F7EDE3;
  --card: #F5EFED;
  --text: #140A01;
  --textAlt: #4D4947;
  --primary: #D96C06;
  --secondary: #ECC4A1;
  --separator: #4D4947;

  --corner: 8px;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  color: var(--text);
  font-weight: 900;
  font-size: 2rem;
}

button {
  background-color: var(--primary);
  color: var(--card);
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: var(--corner);
}

html,
body,
#root,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textAlt);
}

#app {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 32px 64px;
}